<ion-view hide-nav-bar="true" title="Events">
    <div class="bar dropdown-menu events-menu" ng-class="({'dropdown-menu-expanded': vm.selectingDate})">
        <div id="innerDate" class="dropdown-menu-inner" ng-click="vm.toggleSelection()">
            <button id="date0" ng-click="vm.setDate(0)" class="button dropdown-menu-option icon-right flat ink"
                    ng-class="({'ion-chevron-up': vm.date == 0 && vm.selectingDate,
                                'ion-chevron-down': vm.date == 0 && !vm.selectingDate})">
                Monday 15th
            </button>
            <button id="date1" ng-click="vm.setDate(1)" class="button dropdown-menu-option icon-right flat ink"
                    ng-class="({'ion-chevron-up': vm.date == 1 && vm.selectingDate,
                                'ion-chevron-down': vm.date == 1 && !vm.selectingDate})">
                Tuesday 16th
            </button>
            <button id="date2" ng-click="vm.setDate(2)" class="button dropdown-menu-option icon-right flat ink"
                    ng-class="({'ion-chevron-up': vm.date == 2 && vm.selectingDate,
                                'ion-chevron-down': vm.date == 2 && !vm.selectingDate})">
                Wednesday 17th
            </button>
            <button id="date3" ng-click="vm.setDate(3)" class="button dropdown-menu-option icon-right flat ink"
                    ng-class="({'ion-chevron-up': vm.date == 3 && vm.selectingDate,
                                'ion-chevron-down': vm.date == 3 && !vm.selectingDate})">
                Thursday 18th
            </button>
            <button id="date4" ng-click="vm.setDate(4)" class="button dropdown-menu-option icon-right flat ink"
                    ng-class="({'ion-chevron-up': vm.date == 4 && vm.selectingDate,
                                'ion-chevron-down': vm.date == 4 && !vm.selectingDate})">
                Friday 19th
            </button>
            <button id="date5" ng-click="vm.setDate(5)" class="button dropdown-menu-option icon-right flat ink"
                    ng-class="({'ion-chevron-up': vm.date == 5 && vm.selectingDate,
                                'ion-chevron-down': vm.date == 5 && !vm.selectingDate})">
                Saturday 20th
            </button>
            <button id="date6" ng-click="vm.setDate(6)" class="button dropdown-menu-option icon-right flat ink"
                    ng-class="({'ion-chevron-up': vm.date == 6 && vm.selectingDate,
                                'ion-chevron-down': vm.date == 6 && !vm.selectingDate})">
                Sunday 21st
            </button>
        </div>
    </div>

    <ion-content style="margin-top: 43px">
        <div class="header-photo" ng-style="({
            background: 'url(img/events/' + vm.random.img +') no-repeat center center',
            'background-size': 'cover'})"
             ui-sref="tabs.eventDetail({id: vm.random.id, clickedSchedule: vm.random.schedule})">
            <div class="header-photo-overlay gradient-background dark-background">
                <div class="header-photo-content">
                    <div class="uppercase">
                        {{vm.random.start | date:'EEE, h:mm a'}} - {{vm.random.end | date:'h:mm a'}}
                    </div>
                    <div class="text-header no-margin">{{vm.random.title}}</div>
                </div>
            </div>
        </div>

        <ion-list id="event-list">
            <div ng-repeat="item in vm.schedule  | orderBy:'id':true"
                 ng-show="vm.cache[vm.date].indexOf((vm.schedule.length-1) - $index) != -1"
                 ui-sref="tabs.eventDetail({id: item.event, clickedSchedule: item.id})">
                <ion-item class="item-text-wrap item-thumbnail-left">
                    <img class="event-thumbnail" ng-src="img/events/{{vm.events[item.event].img}}" alt="{{item.name}}"/>

                    <div class="event-meta">
                        <div class="uppercase meta-info">
                            {{(vm.schedule.length-1) - $index}}
                            {{item.start | date:'EEE, h:mm a'}} - {{item.end | date:'h:mm a'}}
                        </div>
                        <div class="text-header no-margin no-wrap no-overflow">{{vm.events[item.event].nameShort ||
                            vm.events[item.event].name}}
                        </div>
                    </div>
                    <i class="icon ion-arrow-right-b"></i>
                    <div class="text-info clear">{{vm.events[item.event].desc_short}}</div>
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
</ion-view>