<ion-view hide-nav-bar="true">
    <ion-content scroll="false" class="splash">

        <div class="splash-content ink">

            <img class="splash-logo" src="img/logo_inverse.png" alt=""/>

            <div class="splash-buttons">

                <div ui-sref="tabs.events" class="button button-clear">
                    Events
                    <i class="icon ion-calendar"></i>
                </div>
                <div ui-sref="tabs.partners" class="button button-clear">
                    Partners
                    <i class="icon ion-ios-people"></i>
                </div>

                <div ui-sref="tabs.info" class="button button-clear">
                    Festival Info
                    <i class="icon ion-help"></i>
                </div>
            </div>


        </div>
    </ion-content>
</ion-view>