<div class="info-photo page0">
    <div class="info-photo-overlay">

    </div>
</div>
<div class="padding info-summary">
    A quirky, intimate and unique gathering of speakers, artists, performers and industry professionals from digital
    media, technology, music and the arts.
</div>

<div class="info-body">
    <div class="padding">
        <div class="info-header">And now for something different</div>
        Held across a big messy week in derry-londonderry, n. Ireland – the inaugural uk city of culture – and featuring
        over separate 100 events and sessions, culturetech is a unique celebration at the crossroads of arts, culture
        and technology. Itʼs a gathering of interesting people – doing interesting things – who all want to learn, share
        and have a blast. If that isnʼt enough of a reason to come, hereʼs four more.
    </div>

    <div class="padding">
        <div class="info-header">Cool people in small places.</div>
        We donʼt really do big and ﬂashy. Weʼd rather bring dozens of exciting artists, performers and industry pros
        from across the world and put them in coffee shops, bars, restaurants, historic buildings and unloved retail
        spaces throughout the city centre – so you can actually meet and spend time with them.
    </div>

    <div class="padding">
        <div class="info-header">A proper city festival</div>
        No, not the wellies in a ﬁeld kind of festival, but deﬁnitely the live gigs throughout the city, nightly label
        showcases in cool venues, interesting ﬁlm screenings, boundarypushing dramatic performances, digital art
        exhibitions, casual video gaming arcades and family-friendly events kind.
    </div>


    <div class="padding">
        <div class="info-header">Business as unusual</div>
        We donʼt really do formal either. This is a jeans and t-shirts kind of event. Yes, thereʼs business to be done
        with hundreds of industry delegates and speakers coming from across the uk, ireland and beyond. And we can just
        about guarantee youʼll learn something too. But if youʼre here for business, expect to do it while listening to
        an exciting new band.
    </div>


    <div class="padding">
        <div class="info-header">“pay what it's worth” ticketing</div>
        And we certainly donʼt do pricey. Culturetech is meant to be accessible for all. A big chunk of the programme is
        completely free and open to the public. Where there is a cost, itʼs normally just a few pounds or (if you get
        your ticket early) based on a “pay what it's worth” model. In short, we want everyone to come, get involved and
        have a great time
    </div>

</div>