<div class="header-photo page1">
    <div class="header-photo-overlay">

    </div>
</div>
<div class="padding info-summary">
    For everything you need to know about getting to Derry-Londonderry, where to stay and even more things to see and
    do
</div>

<div class="info-body">

    <div class="padding">
        <div class="info-header">Getting Here</div>
        Derry-Londonderry is the main city in the North-West of Ireland located about 70 miles from Belfast and 3 hours
        drive from Dublin.
    </div>

    <div class="padding">
        <div class="info-header">By Air</div>
        <p>
            There are regular flights directly into City of Derry Airport from London Stansted, Glasgow, Birmingham and
            Liverpool. Taxis are available from outside the arrivals area and typically cost around £12 into the city
            centre.
        </p>

        <p>
            Belfast International Airport (1hr 15mins) and George Best Belfast City Airport (1hr 45mins) have dozens of
            flights daily to/from the UK and continental Europe as well as daily flights to/from Newark International.
            Dublin International Airport is around 3 hours from Derry. To get to/from the Belfast airports, make sure to
            check out our Official Transport Partner - <b>Airporter</b>. We recommend using <b>skyscanner</b> to find
            the
            best flights
        </p>
    </div>

    <div class="list event-time-list">
        <div class="item">
            <div class="time">
                <div class="location">Airporter</div>
                +44 2871 269 996<br>
                airporter.co.uk
            </div>
            <a class="button button-icon icon ion-ios-world flat ink"
               ng-click="app.loadExternalUrl('http://www.airporter.co.uk')"></a>
            <a class="button button-icon icon ion-ios-telephone flat ink"
                    ng-click="app.call('44', '2871269996')"></a>
        </div>
        <div class="item border-bottom">
            <div class="time">
                <div class="location">Skyscanner</div>
                skyscanner.net
            </div>
            <a class="button button-icon icon ion-ios-world flat ink"
               ng-click="app.loadExternalUrl('http://www.skyscanner.net')"></a>
        </div>
    </div>

    <div class="padding">
        <div class="info-header">By Bus / Rail</div>
        Buses run from Belfast to Derry-Londonderry roughly every 30mins from 6:30 AM - midnight. The journey takes
        about 1hr 45mins. The train journey takes longer but it’s a beautiful trip. Details for both bus and rail
        journeys within Northern Ireland are available at <b>Translink</b>. Bus transport from Dublin, Galway, Sligo and
        other locations in the Republic of Ireland can be booked at <b>Bus Éireann</b>
    </div>

    <div class="list event-time-list">
        <div class="item">
            <div class="time">
                <div class="location">Translink</div>
                +44 2890 666 630<br>
                translink.co.uk
            </div>
            <a class="button button-icon icon ion-ios-world flat ink"
            ng-click="app.loadExternalUrl('http://www.translink.co.uk')"></a>
            <a class="button button-icon icon ion-ios-telephone flat ink"
               ng-click="app.call('44', '2890666630')"></a>
        </div>
        <div class="item border-bottom">
            <div class="time">
                <div class="location">Bus Éireann</div>
                +353 18 366 111<br>
                buseireann.ie
            </div>
            <a class="button button-icon icon ion-ios-world flat ink"
               ng-click="app.loadExternalUrl('http://www.buseireann.ie')"></a>
            <a class="button button-icon icon ion-ios-telephone flat ink"
               ng-click="app.call('353', '18366111')"></a>
        </div>
    </div>

    <div class="padding">
        <div class="info-header">Getting Around</div>
        Derry is a very walkable city and all the main festival venues are within just a few minutes of each other on
        foot. Taxis in Derry are convenient and inexpensive with fares to most destinations within the city under £5.
        You’ll find taxi ranks throughout the city centre or you can book one by phone from one of the following:
    </div>

    <div class="list event-time-list">
        <div class="item">
            <div class="time">
                <div class="location">Foyle Taxis</div>
                +44 2871 279 999<br>
                foyletaxis.com
            </div>
            <a class="button button-icon icon ion-ios-world flat ink"
               ng-click="app.loadExternalUrl('http://www.foyletaxis.com')"></a>
            <a class="button button-icon icon ion-ios-telephone flat ink"
               ng-click="app.call('44', '2871279999')"></a>
        </div>
        <div class="item">
            <div class="time">
                <div class="location">City Cabs</div>
                +44 2871 264 466<br>
                citycabsderry.com
            </div>
            <a class="button button-icon icon ion-ios-world flat ink"
               ng-click="app.loadExternalUrl('http://www.citycabsderry.com')"></a>
            <a class="button button-icon icon ion-ios-telephone flat ink"></a>
        </div>
        <div class="item">
            <div class="time">
                <div class="location">Derry Taxis</div>
                +44 2871 260 247<br>
                derrytaxis.ie
            </div>
            <a class="button button-icon icon ion-ios-world flat ink"
               ng-click="app.loadExternalUrl('http://www.derrytaxis.ie')"></a>
            <a class="button button-icon icon ion-ios-telephone flat ink"
               ng-click="app.call('44', '2871260247')"></a>
        </div>
        <div class="item border-bottom">
            <div class="time">
                <div class="location">The Taxi Co</div>
                +44 2871 262 626<br>
                thetaxi-co.com
            </div>
            <a class="button button-icon icon ion-ios-world flat ink"
               ng-click="app.loadExternalUrl('http://www.thetaxi-co.com')"></a>
            <a class="button button-icon icon ion-ios-telephone flat ink"
               ng-click="app.call('44', '2871262626')"></a>
        </div>
    </div>

    <div class="padding">
        <div class="info-header">Places to Stay</div>
        There’s no shortage of places to stay in Derry-Londonderry but do book early as most places tend to fill up
        around the festival dates. The best place to find hotels, B&Bs and self-catering accommodation in the city is
        via <b>VisitDerry</b>
    </div>
    <div class="list event-time-list">
        <div class="item border-bottom">
            <div class="time">
                <div class="location">Visit Derry</div>
                +44 2871 267 284<br>
                visitderry.com
            </div>
            <a class="button button-icon icon ion-ios-world flat ink"
               ng-click="app.loadExternalUrl('http://www.visitderry.com')"></a>
            <a class="button button-icon icon ion-ios-telephone flat ink"
               ng-click="app.call('44', '2871267284')"></a>
        </div>
    </div>

</div>