<div class="info-photo page2">
    <div class="info-photo-overlay">

    </div>
</div>
<div class="padding info-summary">
    Weʼre exploring the intersection of digital technology, arts and culture. We call it culturetech.
</div>

<div class="info-body">
    <div class="padding">
        <div class="info-header">The Company</div>
        <p>
            Thereʼs little doubt that the worlds of art, culture and technology are coming together. We see this as a
            huge opportunity – for innovative arts and cultural organisations who want to stand out, for smart tech
            companies who want to ﬁgure it out and for cities and regions who want to tell their stories to the world.
        </p>

        <p>
            At the very least, this convergence is an exciting conversation and CultureTECH Ltd is a company that wants
            to be at the centre of that conversation.
        </p>

        <p>
            Based in Derry-Londonderry, N. Ireland – a tiny city on the edge of Europe – we produce an annual festival,
            work with a growing list of partners to deliver impactful innovation programmes and work with even more
            partners to perpetuate new ideas and conversations.
        </p>

        <p>
            We are also in the process of planning several new events in the UK, Europe and N. America, are developing a
            suite of methodologies to connect the tech and arts/culture sectors and hope to create a Centre of
            Excellence in Cultural Technologies in Derry-Londonderry.
        </p>

        <p>
            The company is steered by private-sector Board of Directors, alongside a number of industry advisors. We
            also work closely with several public sector partners including but not limited to the Department of Culture
            Arts and Leisure, Invest Northern Ireland, regeneration company ILEX, Derry City Council and the City of
            London Corporation.
        </p>
    </div>

    <div class="padding">
        <div class="info-header">Things We'd Like to Talk About</div>
        <ul>
            <li>Event Proposals</li>
            <li>Speaking and media opportunities</li>
            <li>Consultancy projects</li>
            <li>Hosting innovation challenges</li>
            <li>Commercial partnerships</li>
            <li>All kinds of collaboration</li>
        </ul>
    </div>

    <div class="padding">
        <div class="info-header">The Team</div>
        <p>
            CultureTECH Ltd is a company registered in Northern Ireland with registered address at 1a Hawkin Street,
            Derry-Londonderry, BT48 6RD, UK and company registration number NI612482
        </p>
    </div>

    <div class="list event-time-list">
        <div class="item">
            <div class="time">
                <div class="location">Mark Nagurski</div>
                Director and Business Development<br>
                info@culturetech.co
            </div>
            <a class="button button-icon icon ion-ios-email flat ink"
               ng-click="app.sendEmail('info@culturetech.co')"></a>
        </div>
        <div class="item">
            <div class="time">
                <div class="location">Connor Doherty</div>
                Marketing Guy<br>
                connor@culturetech.co
            </div>
            <a class="button button-icon icon ion-ios-email flat ink"
               ng-click="app.sendEmail('connor@culturetech.co')"></a>
        </div>
        <div class="item">
            <div class="time">
                <div class="location">Rachel McClure</div>
                Operations and Stuff<br>
                rachel@culturetech.co
            </div>
            <a class="button button-icon icon ion-ios-email flat ink"
               ng-click="app.sendEmail('rachel@culturetech.co')"></a>
        </div>
        <div class="item">
            <div class="time">
                <div class="location">Carol Kelly</div>
                Accounts<br>
                carol@londonderrychamber.co.uk
            </div>
            <a class="button button-icon icon ion-ios-email flat ink"
                    ng-click="app.sendEmail('carol@londonderrychamber.co.uk')"></a>
        </div>
    </div>

</div>