<ion-view hide-nav-bar="true" title="Events">
    <div class="bar title dropdown-menu" ng-class="({'dropdown-menu-expanded': vm.menuExpanded})">
        <div id="innerPage" class="dropdown-menu-inner" ng-click="vm.expandMenu()">
            <button ng-click="::vm.setPage(0, $event)" class="dropdown-menu-option button icon-right ink"
                    ng-class="({'ion-chevron-up': vm.page == 0 && vm.menuExpanded,
                                'ion-chevron-down': vm.page == 0 && !vm.menuExpanded})">
                About the Festival
            </button>
            <button ng-click="::vm.setPage(1, $event)" class="dropdown-menu-option button icon-right ink"
                    ng-class="({'ion-chevron-up': vm.page == 1 && vm.menuExpanded,
                                'ion-chevron-down': vm.page == 1 && !vm.menuExpanded})">
                Visitor Info
            </button>
            <button ng-click="::vm.setPage(2, $event)" class="dropdown-menu-option button icon-right ink"
                    ng-class="({'ion-chevron-up': vm.page == 2 && vm.menuExpanded,
                                'ion-chevron-down': vm.page == 2 && !vm.menuExpanded})">
                The Company
            </button>
        </div>
    </div>

    <ion-content style="margin-top: 43px" has-bouncing="false">
        <ng-include ng-show="vm.page == 0" src="'js/templates/infoPage0.html'"></ng-include>
        <ng-include ng-show="vm.page == 1" src="'js/templates/infoPage1.html'"></ng-include>
        <ng-include ng-show="vm.page == 2" src="'js/templates/infoPage2.html'"></ng-include>
    </ion-content>

</ion-view>