<ion-view hide-nav-bar="true">
    <div class="bar bar-header event-detail-header">
        <button style="margin-left: -44px" ng-click="$ionicGoBack()"
                class="button back-button buttons button-clear header-item">
            <i class="icon ion-ios-arrow-back"></i>
        </button>
        <div class="title title-left header-item">
            {{vm.location.name}}
        </div>

    </div>

    <ion-content>
        <div class="partner-splash" ng-style="{
            'background': 'url(img/locations/'+vm.location.img+') no-repeat center center',
            'background-size': 'cover'
            }">
            <div class="event-splash-content">
            </div>
        </div>

        <div class="list event-time-list">
            <div class="item border-bottom">
                <div class="time">
                    <div class="location">{{vm.location.name}}</div>
                    <div class="location-address" ng-bind-html="vm.location.address"></div>
                </div>
            </div>
        </div>

        <div class="row map-outer">
            <div class="col col-center map">
                <div class="icon ion-map"></div>
                <div class="load-map">Map {{vm.data ? '' : 'Not '}}Available</div>
                <div class="requires-data">
                    {{vm.data || 'No'}} Data Connection
                    <div ng-show="vm.data" class="load-map-text">
                        Tap to Load
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>