<ion-view hide-nav-bar="true">
    <div class="bar bar-header">
        <button ng-click="$ionicGoBack()"
                class="button back-button buttons button-clear header-item">
            <i class="icon ion-ios-arrow-back"></i>
        </button>
        <div class="title title-left">
            {{vm.location.name}}
        </div>

    </div>

    <ion-content data-tap-disabled="true">
        <div class="header-photo" ng-style="{
            'background': 'url(img/locations/'+vm.location.img+') no-repeat center center',
            'background-size': 'cover'
            }" ng-class="({'hide-photo': vm.expandMap})">
        </div>

        <div class="info-box" style="height: 88px;" ng-class="({'map-address-bar': vm.expandMap})">
            <div class="padding float-left">
                <div class="text-header no-margin text-info">{{vm.location.name}}</div>
                <div class="text-info" ng-bind-html="vm.location.address"></div>
            </div>
            <div class="float-right" style="width: 70px;">
                <a ng-show="vm.expandMap" ng-click="vm.recenterMap()"
                   class="button button-icon icon ion-ios-location recenter-map flat ink"></a>
            </div>

        </div>

        <div class="map-outer" ng-click="vm.data ? vm.getMap() : vm.getNetwork()" ng-class="({'fill': vm.expandMap})">
            <ui-gmap-google-map ng-if="vm.expandMap" control='vm.mapControl' center='vm.coords' zoom='15' options="{disableDefaultUI: true}">
                <ui-gmap-marker idKey='1' coords='vm.locationCoords'></ui-gmap-marker>
            </ui-gmap-google-map>

            <div ng-if="!vm.expandMap">
                <div ng-class="({hidden: !vm.loading})" class="spinner">
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                    <div class="rect5"></div>
                </div>

                <div class="map-labels" id="map">
                    <div ng-show="!vm.loading">
                        <div class="icon ion-map"></div>
                        <div class="load-map">Map {{vm.data ? '' : 'Not '}}Available</div>
                        <div class="requires-data">
                            {{vm.data || 'No'}} Data Connection
                            <div class="load-map-text">
                                Tap to {{vm.data ? 'Load' : 'Retry'}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </ion-content>
</ion-view>