<ion-view hide-nav-bar="true">
    <div class="bar bar-header event-detail-header">
        <button style="margin-left: -44px" ng-click="$ionicGoBack()"
                class="button back-button buttons button-clear header-item">
            <i class="icon ion-ios-arrow-back"></i>
        </button>
        <div class="title title-left header-item">
            {{vm.location.name}}
        </div>

    </div>

    <ion-content data-tap-disabled="true">
        <div class="location-photo" ng-style="{
            'background': 'url(img/locations/'+vm.location.img+') no-repeat center center',
            'background-size': 'cover'
            }" ng-class="({'hide-photo': vm.expandMap})">
            <div class="event-splash-content">
            </div>
        </div>

        <div class="list event-time-list">
            <div class="item border-bottom">
                <div class="time">
                    <div class="location">{{vm.location.name}}</div>
                    <div class="location-address" ng-bind-html="vm.location.address"></div>
                </div>
            </div>
        </div>

        <div class="map-outer" ng-click="vm.data ? vm.getMap() : vm.getNetwork()" ng-class="({'fill': vm.expandMap})">
            <ui-gmap-google-map ng-if="vm.expandMap" center='vm.map.center' zoom='vm.map.zoom'>
                <ui-gmap-marker idKey='1' coords='vm.coords'></ui-gmap-marker>
            </ui-gmap-google-map>

            <div ng-class="({hidden: !vm.loading})" class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>

            <div class="map-labels" id="map">
                <div ng-show="!vm.loading">
                    <div class="icon ion-map"></div>
                    <div class="load-map">Map {{vm.data ? '' : 'Not '}}Available</div>
                    <div class="requires-data">
                        {{vm.data || 'No'}} Data Connection
                        <div class="load-map-text">
                            Tap to {{vm.data ? 'Load' : 'Retry'}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>