<ion-view>
    <ion-nav-title>{{vm.partner.name}}</ion-nav-title>
    <ion-content>

        <div class="partner-splash" ng-style="{
            'background': 'url(img/partners/'+vm.partner.id+'_p.jpg) no-repeat center center',
            'background-size': 'cover'
            }">
            <div class="partner-splash-content">
                <button class="button button-full button-dark button-transparant icon-right ion-wifi flat ink">
                    Visit Website
                </button>
            </div>
        </div>

        <div class="double-padding partner-description" ng-bind-html="vm.partner.description">
        </div>
        <div class="row partner-navigation">
            <div ng-if="vm.previous" class="col ink partner-back"
                 ng-click="vm.previousPartner(vm.previous.id)">
                <div class="partner-title">Previous</div>
                <div class="partner-name">{{vm.previous.name}}</div>
            </div>
            <div ng-if="vm.next" class="col ink partner-forward"
                 ng-click="vm.nextPartner(vm.next.id)">
                <div class="partner-title" style="text-align: right;">Next</div>
                <div class="partner-name" style="text-align: right;">{{vm.next.name}}</div>
            </div>
        </div>
    </ion-content>
</ion-view>