<div class="bar bar-subheader item-input-inset bar-light padding">
    <label class="item-input-wrapper" for="search">
        <i class="icon ion-search placeholder-icon"></i>
        <input name="search" id="search" type="search" set-focus="app.searching"/>
    </label>
</div>

<!-- Alt style - probably not needed
<div class="bar bar-subheader item-input-inset bar-light">
    <label for="search" class="item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input name="search" type="search" placeholder=" Search">
    </label>
</div>
-->