<ion-tabs class="tabs-icon-only ink-dark" ng-class="({'tabs-item-hide': app.isState('tabs.home')})">
    <ion-tab title="Home" icon="ion-home" ui-sref="tabs.home">
        <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Events" icon="ion-calendar" ui-sref="tabs.events">
        <ion-nav-view name="events-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Events" icon="ion-ios-people" ui-sref="tabs.partners">
        <ion-nav-view name="partners-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Info" icon="ion-help" ui-sref="tabs.info">
        <ion-nav-view name="info-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Settings" icon="ion-gear-a" ui-sref="tabs.settings">
        <ion-nav-view name="settings-tab"></ion-nav-view>
    </ion-tab>
    <!--
<ion-tab title="Settings" icon="ion-gear-a" ui-sref="tabs.partners">
    <ion-nav-view name="partners-tab"></ion-nav-view>
</ion-tab>
-->
</ion-tabs>